@Re:  #f44336;
@Pi:  #e91e63;
@Pu:  #9c27b0;
@DP:  #673ab7;
@In:  #3f51b5;
@Bl:  #2196f3;
@LB:  #03a9f4;
@Cy:  #00bcd4;
@Te:  #009688;
@Gr:  #4caf50;
@LG:  #8bc34a;
@Li:  #cddc39;
@Ye:  #ffeb3b;
@Am:  #ffc107;
@Or:  #ff9800;
@DO:  #ff5722;
@Br:  #795548;
@BG:  #607d8b;

.red         {background: radial-gradient(circle, @Re, @Re, @Re - #222);}
.pink        {background: radial-gradient(circle, @Pi, @Pi, @Pi - #222);}
.purple      {background: radial-gradient(circle, @Pu, @Pu, @Pu - #222);}
.deep-purple {background: radial-gradient(circle, @DP, @DP, @DP - #222);}
.indigo      {background: radial-gradient(circle, @In, @In, @In - #222);}
.blue        {background: radial-gradient(circle, @Bl, @Bl, @Bl - #222);}
.light-blue  {background: radial-gradient(circle, @LB, @LB, @LB - #222);}
.cyan        {background: radial-gradient(circle, @Cy, @Cy, @Cy - #222);}
.teal        {background: radial-gradient(circle, @Te, @Te, @Te - #222);}
.green       {background: radial-gradient(circle, @Gr, @Gr, @Gr - #222);}
.light-green {background: radial-gradient(circle, @LG, @LG, @LG - #222);}
.lime        {background: radial-gradient(circle, @Li, @Li, @Li - #222);}
.yellow      {background: radial-gradient(circle, @Ye, @Ye, @Ye - #222);}
.amber       {background: radial-gradient(circle, @Am, @Am, @Am - #222);}
.orange      {background: radial-gradient(circle, @Or, @Or, @Or - #222);}
.deep-orange {background: radial-gradient(circle, @DO, @DO, @DO - #222);}
.brown       {background: radial-gradient(circle, @Br, @Br, @Br - #222);}
.blue-grey   {background: radial-gradient(circle, @BG, @BG, @BG - #222);}

body {
	width:100%;
	height:100%;
	transition: all 1s;
}

.mdl-card {
	width:55%;
	height:75%;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mdl-textfield {
	margin:-20px 0 -20px 0;
	width:100%;
}

.output {
	width:100%;
	height:50px;
	border-top:1px solid rgba(0, 0, 0, 0.1);
	display:flex;
	overflow:hidden;
}


.output div {
	width:50%;
	height:50px;
}

.output div p {
	line-height: 50px;
	font-size:20px;
	font-weight:300;
	font-family:Roboto;
}

.output-left p {
	color:rgba(0, 0, 0, 0.5);
}

.output-right p {
	text-align:right;
}

.mdl-card__title {
	flex-direction: column;
	justify-content: flex-end;
}

.color-circle {
	height:16px;
	width:16px;
	border-radius:100%;
	display:inline-block;
	background-color:red;
}

.mdl-menu__item .material-icons {
	font-size:48px !important;
}